In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [110]:
df=pd.read_csv("/content/archive (6).zip")

In [111]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,01/03/2024,15:50.5
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,01/03/2024,19:22.5
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,01/03/2024,20:18.1
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,01/03/2024,46:33.0
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,01/03/2024,48:14.6

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 304.9+ KB

In [113]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   datetime64[ns]
 10  Time         3547 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 304.9+ KB

In [115]:
df['Time_hour'] = df['Time'].str.split(':').str[0].astype(int)

In [116]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,Time_hour
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,15:50.5,15
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,19:22.5,19
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,20:18.1,20
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,46:33.0,46
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,48:14.6,48

In [117]:
df = df.drop('Time', axis=1)
display(df.head())

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time_hour
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,15
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,19
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,20
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,46
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,48

In [118]:
df['coffee_name'].unique()

array(['Latte', 'Hot Chocolate', 'Americano', 'Americano with Milk',
       'Cocoa', 'Cortado', 'Espresso', 'Cappuccino'], dtype=object)

##Finding the most selling Coffie

In [119]:
most_selling_coffee = df['coffee_name'].value_counts().idxmax()
print(f"The most selling coffee is: {most_selling_coffee}")

The most selling coffee is: Americano with Milk

##Finding the money earned by them

In [120]:
coffee_sales = df.groupby('coffee_name')['money'].sum().sort_values(ascending=False)
display(coffee_sales)

coffee_name
Latte                  26875.30
Americano with Milk    24751.12
Cappuccino             17439.14
Americano              14650.26
Hot Chocolate           9933.46
Cocoa                   8521.16
Cortado                 7384.86
Espresso                2690.28
Name: money, dtype: float64


Analyze the provided data to determine the most rushed and profitable time of day.

In [121]:
coffee_sales = df.groupby('coffee_name')['money'].mean().sort_values(ascending=False)
display(coffee_sales)

coffee_name
Hot Chocolate          35.990797
Cappuccino             35.883004
Cocoa                  35.653389
Latte                  35.502378
Americano with Milk    30.594710
Americano              25.975638
Cortado                25.731220
Espresso               20.854884
Name: money, dtype: float64

In [122]:
time_of_day_counts = df['Time_of_Day'].value_counts()
display(time_of_day_counts)

Time_of_Day
Afternoon    1205
Morning      1181
Night        1161
Name: count, dtype: int64

In [123]:
rush_day=df['Weekday'].value_counts().sort_values(ascending=False)
display(rush_day)

Weekday
Tue    572
Mon    544
Fri    532
Thu    510
Wed    500
Sat    470
Sun    419
Name: count, dtype: int64

In [124]:
rush_month=df['Month_name'].value_counts().sort_values(ascending=False)
rush_month

Month_name
Mar    494
Oct    426
Feb    423
Sep    344
Aug    272
Dec    259
Nov    259
May    241
Jul    237
Jun    223
Jan    201
Apr    168
Name: count, dtype: int64

## **March is the most selling month**

In [125]:
rush_hour=df['hour_of_day'].value_counts().sort_values(ascending=False)
rush_hour

hour_of_day
10    328
11    283
16    278
9     242
12    241
17    237
15    236
8     235
19    229
13    225
14    225
18    218
21    195
20    169
22    113
7      88
6       5
Name: count, dtype: int64

## **Shows** 6 am is least hour and 10 am is the time when most selling hour

In [126]:
monthly_sales = df.groupby('Month_name')['money'].sum()

**Reasoning**:
Display the monthly sales to verify the grouping and summation were performed correctly.

In [127]:
display(monthly_sales)

Month_name
Apr     5719.56
Aug     7613.84
Dec     8237.74
Feb    13215.48
Jan     6398.86
Jul     6915.94
Jun     7617.76
Mar    15891.64
May     8164.42
Nov     8590.54
Oct    13891.16
Sep     9988.64
Name: money, dtype: float64